* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #9eadac;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f33c3c;
  color: white;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00bfff;
}

main {
  flex: 1; 
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* --- LOGO --- */
#logo {
  width: 70px;       /* ajusta el tamaño: prueba entre 80 y 150 según te guste */
  height: auto;       /* mantiene proporciones */
  margin-right: 20px; /* separa el logo del menú */
  vertical-align: middle;
}
