* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1f887;
  color: black;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #2f3234;
}

main {
  flex: 1; 
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
}

#logo {
  width: 70px;       
  height: auto;       
  margin-right: 20px; 
  vertical-align: middle;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 30px auto;
  width: 200px;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.boton{
   display: inline-block;
  background: #000;
  color: white;
  padding: 7px 17px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}

.boton:hover {
  background: #222;
}

.precio {
  font-size: 1.2em;
  color: #f33c3c;
  margin-top: 10px;
  font-weight: bold;
}

.imagen-producto {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.productos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  height: auto;
}

.seccion {
  padding: 60px 20px;
  text-align: center;
  background-color: black;
  height: auto;
  margin-bottom: 0px;
  border-radius: 20px;
  border-top: 12px solid #000000;
}

.portada.sobre-portada {
  background-color: #e1f887;
  color: black;
  padding: 60px 20px;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.contenido-portada p {
  line-height: 1.2;
  padding: 12px 40px;
  text-align: center;
}

.encabezado-seccion {
  justify-content: center; 
  padding: 10px;
  border-radius: 12px;
}